PlatformService/.vscode/launch.json
PlatformService/.vscode/tasks.json
PlatformService/bin/Debug/net5.0/appsettings.Development.json
PlatformService/bin/Debug/net5.0/appsettings.json
PlatformService/bin/Debug/net5.0/AutoMapper.dll
PlatformService/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
PlatformService/bin/Debug/net5.0/Humanizer.dll
PlatformService/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
PlatformService/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
PlatformService/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
PlatformService/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
PlatformService/bin/Debug/net5.0/Microsoft.Identity.Client.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
PlatformService/bin/Debug/net5.0/Microsoft.OpenApi.dll
PlatformService/bin/Debug/net5.0/PlatformService.deps.json
PlatformService/bin/Debug/net5.0/PlatformService.dll
PlatformService/bin/Debug/net5.0/PlatformService.exe
PlatformService/bin/Debug/net5.0/PlatformService.pdb
PlatformService/bin/Debug/net5.0/PlatformService.runtimeconfig.dev.json
PlatformService/bin/Debug/net5.0/PlatformService.runtimeconfig.json
PlatformService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
PlatformService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
PlatformService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
PlatformService/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
PlatformService/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
PlatformService/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
PlatformService/bin/Debug/net5.0/System.Runtime.Caching.dll
PlatformService/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
PlatformService/bin/Debug/net5.0/ref/PlatformService.dll
PlatformService/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
PlatformService/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
PlatformService/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
PlatformService/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
PlatformService/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/obj/PlatformService.csproj.nuget.dgspec.json
PlatformService/obj/PlatformService.csproj.nuget.g.props
PlatformService/obj/PlatformService.csproj.nuget.g.targets
PlatformService/obj/project.assets.json
PlatformService/obj/project.nuget.cache
PlatformService/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PlatformService/obj/Debug/net5.0/apphost.exe
PlatformService/obj/Debug/net5.0/PlatformService.AssemblyInfo.cs
PlatformService/obj/Debug/net5.0/PlatformService.AssemblyInfoInputs.cache
PlatformService/obj/Debug/net5.0/PlatformService.assets.cache
PlatformService/obj/Debug/net5.0/PlatformService.csproj.CopyComplete
PlatformService/obj/Debug/net5.0/PlatformService.csproj.CoreCompileInputs.cache
PlatformService/obj/Debug/net5.0/PlatformService.csproj.FileListAbsolute.txt
PlatformService/obj/Debug/net5.0/PlatformService.csprojAssemblyReference.cache
PlatformService/obj/Debug/net5.0/PlatformService.dll
PlatformService/obj/Debug/net5.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
PlatformService/obj/Debug/net5.0/PlatformService.genruntimeconfig.cache
PlatformService/obj/Debug/net5.0/PlatformService.MvcApplicationPartsAssemblyInfo.cache
PlatformService/obj/Debug/net5.0/PlatformService.MvcApplicationPartsAssemblyInfo.cs
PlatformService/obj/Debug/net5.0/PlatformService.pdb
PlatformService/obj/Debug/net5.0/PlatformService.RazorTargetAssemblyInfo.cache
PlatformService/obj/Debug/net5.0/project.razor.json
PlatformService/obj/Debug/net5.0/ref/PlatformService.dll
PlatformService/obj/Debug/net5.0/staticwebassets/PlatformService.StaticWebAssets.Manifest.cache
PlatformService/obj/Debug/net5.0/staticwebassets/PlatformService.StaticWebAssets.xml
.vscode/launch.json
.vscode/tasks.json
CommandsService/obj/CommandsService.csproj.nuget.dgspec.json
CommandsService/obj/CommandsService.csproj.nuget.g.props
CommandsService/obj/CommandsService.csproj.nuget.g.targets
CommandsService/obj/project.assets.json
CommandsService/obj/project.nuget.cache
CommandsService/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CommandsService/obj/Debug/net5.0/apphost.exe
CommandsService/obj/Debug/net5.0/CommandsService.AssemblyInfo.cs
CommandsService/obj/Debug/net5.0/CommandsService.AssemblyInfoInputs.cache
CommandsService/obj/Debug/net5.0/CommandsService.assets.cache
CommandsService/obj/Debug/net5.0/CommandsService.csproj.CopyComplete
CommandsService/obj/Debug/net5.0/CommandsService.csproj.CoreCompileInputs.cache
CommandsService/obj/Debug/net5.0/CommandsService.csproj.FileListAbsolute.txt
CommandsService/obj/Debug/net5.0/CommandsService.csprojAssemblyReference.cache
CommandsService/obj/Debug/net5.0/CommandsService.dll
CommandsService/obj/Debug/net5.0/CommandsService.GeneratedMSBuildEditorConfig.editorconfig
CommandsService/obj/Debug/net5.0/CommandsService.genruntimeconfig.cache
CommandsService/obj/Debug/net5.0/CommandsService.MvcApplicationPartsAssemblyInfo.cache
CommandsService/obj/Debug/net5.0/CommandsService.MvcApplicationPartsAssemblyInfo.cs
CommandsService/obj/Debug/net5.0/CommandsService.pdb
CommandsService/obj/Debug/net5.0/CommandsService.RazorTargetAssemblyInfo.cache
CommandsService/obj/Debug/net5.0/ref/CommandsService.dll
CommandsService/obj/Debug/net5.0/staticwebassets/CommandsService.StaticWebAssets.Manifest.cache
CommandsService/obj/Debug/net5.0/staticwebassets/CommandsService.StaticWebAssets.xml
CommandsService/bin/Debug/net5.0/appsettings.Development.json
CommandsService/bin/Debug/net5.0/appsettings.json
CommandsService/bin/Debug/net5.0/AutoMapper.dll
CommandsService/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
CommandsService/bin/Debug/net5.0/CommandsService.deps.json
CommandsService/bin/Debug/net5.0/CommandsService.dll
CommandsService/bin/Debug/net5.0/CommandsService.exe
CommandsService/bin/Debug/net5.0/CommandsService.pdb
CommandsService/bin/Debug/net5.0/CommandsService.runtimeconfig.dev.json
CommandsService/bin/Debug/net5.0/CommandsService.runtimeconfig.json
CommandsService/bin/Debug/net5.0/Humanizer.dll
CommandsService/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
CommandsService/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
CommandsService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
CommandsService/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
CommandsService/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
CommandsService/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
CommandsService/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
CommandsService/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
CommandsService/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
CommandsService/bin/Debug/net5.0/Microsoft.OpenApi.dll
CommandsService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
CommandsService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CommandsService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CommandsService/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
CommandsService/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
CommandsService/bin/Debug/net5.0/ref/CommandsService.dll
CommandsService/Controllers/PlatformsController.cs
.gitignore
CommandsService/obj/Debug/net5.0/project.razor.json
PlatformService/bin/Debug/net5.0/appsettings.Production.json
PlatformService/obj/Debug/net5.0/12fbc7ffe642ca7e_platforms.protodep
PlatformService/obj/Debug/net5.0/Protos/Platforms.cs
PlatformService/obj/Debug/net5.0/Protos/PlatformsGrpc.cs
PlatformService/bin/Debug/net5.0/Google.Protobuf.dll
PlatformService/bin/Debug/net5.0/Grpc.AspNetCore.Server.ClientFactory.dll
PlatformService/bin/Debug/net5.0/Grpc.AspNetCore.Server.dll
PlatformService/bin/Debug/net5.0/Grpc.Core.Api.dll
PlatformService/bin/Debug/net5.0/Grpc.Net.Client.dll
PlatformService/bin/Debug/net5.0/Grpc.Net.ClientFactory.dll
PlatformService/bin/Debug/net5.0/Grpc.Net.Common.dll
CommandsService/bin/Debug/net5.0/appsettings.Production.json
CommandsService/bin/Debug/net5.0/Google.Protobuf.dll
CommandsService/bin/Debug/net5.0/Grpc.Core.Api.dll
CommandsService/bin/Debug/net5.0/Grpc.Net.Client.dll
CommandsService/bin/Debug/net5.0/Grpc.Net.Common.dll
CommandsService/bin/Debug/net5.0/appsettings.Production.json
CommandsService/bin/Debug/net5.0/appsettings.Production.json
CommandsService/appsettings.Production.json
CommandsService/bin/Debug/net5.0/appsettings.Production.json
CommandsService/obj/Debug/net5.0/12fbc7ffe642ca7e_platforms.protodep
CommandsService/obj/Debug/net5.0/Protos/Platforms.cs
CommandsService/obj/Debug/net5.0/Protos/PlatformsGrpc.cs
