PlatformService/.vscode/launch.json
PlatformService/.vscode/tasks.json
PlatformService/bin/Debug/net5.0/appsettings.Development.json
PlatformService/bin/Debug/net5.0/appsettings.json
PlatformService/bin/Debug/net5.0/AutoMapper.dll
PlatformService/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
PlatformService/bin/Debug/net5.0/Humanizer.dll
PlatformService/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
PlatformService/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
PlatformService/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
PlatformService/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
PlatformService/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
PlatformService/bin/Debug/net5.0/Microsoft.Identity.Client.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
PlatformService/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
PlatformService/bin/Debug/net5.0/Microsoft.OpenApi.dll
PlatformService/bin/Debug/net5.0/PlatformService.deps.json
PlatformService/bin/Debug/net5.0/PlatformService.dll
PlatformService/bin/Debug/net5.0/PlatformService.exe
PlatformService/bin/Debug/net5.0/PlatformService.pdb
PlatformService/bin/Debug/net5.0/PlatformService.runtimeconfig.dev.json
PlatformService/bin/Debug/net5.0/PlatformService.runtimeconfig.json
PlatformService/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
PlatformService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
PlatformService/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
PlatformService/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
PlatformService/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
PlatformService/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
PlatformService/bin/Debug/net5.0/System.Runtime.Caching.dll
PlatformService/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
PlatformService/bin/Debug/net5.0/ref/PlatformService.dll
PlatformService/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
PlatformService/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
PlatformService/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
PlatformService/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
PlatformService/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
PlatformService/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
PlatformService/obj/PlatformService.csproj.nuget.dgspec.json
PlatformService/obj/PlatformService.csproj.nuget.g.props
PlatformService/obj/PlatformService.csproj.nuget.g.targets
PlatformService/obj/project.assets.json
PlatformService/obj/project.nuget.cache
PlatformService/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
PlatformService/obj/Debug/net5.0/apphost.exe
PlatformService/obj/Debug/net5.0/PlatformService.AssemblyInfo.cs
PlatformService/obj/Debug/net5.0/PlatformService.AssemblyInfoInputs.cache
PlatformService/obj/Debug/net5.0/PlatformService.assets.cache
PlatformService/obj/Debug/net5.0/PlatformService.csproj.CopyComplete
PlatformService/obj/Debug/net5.0/PlatformService.csproj.CoreCompileInputs.cache
PlatformService/obj/Debug/net5.0/PlatformService.csproj.FileListAbsolute.txt
PlatformService/obj/Debug/net5.0/PlatformService.csprojAssemblyReference.cache
PlatformService/obj/Debug/net5.0/PlatformService.dll
PlatformService/obj/Debug/net5.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
PlatformService/obj/Debug/net5.0/PlatformService.genruntimeconfig.cache
PlatformService/obj/Debug/net5.0/PlatformService.MvcApplicationPartsAssemblyInfo.cache
PlatformService/obj/Debug/net5.0/PlatformService.MvcApplicationPartsAssemblyInfo.cs
PlatformService/obj/Debug/net5.0/PlatformService.pdb
PlatformService/obj/Debug/net5.0/PlatformService.RazorTargetAssemblyInfo.cache
PlatformService/obj/Debug/net5.0/project.razor.json
PlatformService/obj/Debug/net5.0/ref/PlatformService.dll
PlatformService/obj/Debug/net5.0/staticwebassets/PlatformService.StaticWebAssets.Manifest.cache
PlatformService/obj/Debug/net5.0/staticwebassets/PlatformService.StaticWebAssets.xml
